/* A s p e c t   r a t i o */
%box-aspect-ratio {
    position: relative;
    width: 100% !important;
    background-color: whitesmoke;
}

%imagen-aspect-ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}

%content {

    p {

        iframe {
            margin: 30px auto !important;
            display: flex;
            @include under(mobile) {
                width: 100%;
                height: auto;
            }
        }
    }

    a {
        text-decoration: underline;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    ul {


        li {
            &::before {
                content: "\2022";
                margin-right: 5px;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 25px auto;
    }
}

.margTop20 {
     @include under(mobile) {
          margin-top: 20px;
     }
}

.flex-center {
     display: flex;
     align-items: center;
     justify-content: center !important;
}
