%Helvetica, .Helvetica {
    font-family: f(sans) ;
    font-weight: 500 ;
    font-style: normal ;
}

%HelveticaNeueLTStdRoman, .HelveticaNeueLTStdRoman {
    font-family: f(HelveticaNeue) ;
    font-weight: normal ;
    font-style: normal ;
}

%HelveticaNeueLTStdBd, .HelveticaNeueLTStdBd {
    font-family: f(HelveticaNeueBd) ;
    font-weight: bold ;
    font-style: normal ;
}

%CourierNew, .CourierNew {
    font-family: f(CourierNew) ;
    font-weight: normal ;
    font-style: normal ;
}
